// COLORS
$color-primary: #0099cc;
$color-lightest: #fcfcfc;
$color-med-dark: #999999;
$color-mocha-brown: #CC6633;
$color-light: #f2f2f2;
$color-dark: #75787e;
$color-darker: #666666;
$color-darkest: #333333;
$color-inactive: #d3d3d3;
$color-border-light: #dddddd;

// FONT SIZES
$font-smaller: 0.85em;

$space-base: 15px;
